form {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.searching {
    padding: 10px 50px;

}

.button {
  margin-left: 10px;
    background-color: #9CB4CC;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 7px;
    border-radius: 40px;
    font-size: 20px;
    border-color: #748DA6;
    color: black;
}

