.everything {
    display: flex;
    justify-content:  space-evenly;
    margin-bottom: 50px;
}

.body {
    background-color: #F2D7D9;
    width: 1000px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    margin: 10px;
    box-shadow:5px 5px 24px -3px #748DA6;
}

h1, p {
display: flex;
justify-content: space-evenly;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 35px;
background-color: #9CB4CC;
padding: 15px;
border-radius: 30px;
margin: 10px;
max-width: 100%;
max-width: 100%;
border-color: #748DA6;
border-style: solid;
}

.word, .phonetic {
    display: flex;
    justify-content: center;
}


.meanings {
    display: flex;
    justify-content: space-evenly;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}